{% extends 'base.html' %}

{% block title %}門鎖控制{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/time.css')}}">
{% endblock %}

{% block main %}

<div class="form-container">
    
    <h1 class= "page-title">電燈控制</h1> 
        <hr/>
    <form class="form-horizontal" role="form" action="{{ url_for('LED') }}" method="post">
    <button type="submit" name="action" value="light1-on" class="btn btn-primary">電燈1開</button>
    <button type="submit" name="action" value="light1-off" class="btn btn-danger">電燈1關</button>
	
	<button type="submit" name="action" value="light2-on" class="btn btn-primary">電燈2開</button>
    <button type="submit" name="action" value="light2-off" class="btn btn-danger">電燈2關</button>
	
	<button type="submit" name="action" value="light3-on" class="btn btn-primary">電燈3開</button>
    <button type="submit" name="action" value="light3-off" class="btn btn-danger">電燈3關</button>
	
	<button type="submit" name="action" value="light4-on" class="btn btn-primary">電燈4開</button>
    <button type="submit" name="action" value="light4-off" class="btn btn-danger">電燈4關</button>
<!--
<td> <button type="submit" name="action" value="Delete" class="btn btn-danger  btn-sm">刪除用戶</button></td>
<td> <button type="submit" name="action" value="Updateuser" class="btn btn-danger  btn-sm">修改用戶名</button></td>
-->
</form>
</div>

{% endblock %}